# NWB
*.npy
*.nwb
manifest.json

# Testing
tests/testing_config.json
*/testing_files/*

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# setuptools
build/
dist/
*.egg-info

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VisualStudioCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.history


# MacOS
.DS_store

# Doc build
/docs/_build/*
_build/
