name: Development Version Gallery
on: workflow_call

jobs:
  build-and-test:
    name: Testing against past PyNWB versions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: s-weigand/setup-conda@v1
        with:
          update-conda: true
          python-version: 3.9
          conda-channels: conda-forge
      - uses: actions/checkout@v2
      - run: git fetch --prune --unshallow --tags

      - name: Install pytest
        run: |
          pip install pytest
          pip install pytest-cov
      - name: Install package
        run: |
          pip install -e .
          pip install git+https://github.com/neurodatawithoutborders/pynwb@dev
          pip install dandi
      - name: Uninstall h5py
        run: pip uninstall -y h5py
      - name: Install ROS3
        run: conda install -c conda-forge h5py

      - name: Run pytest with coverage
        run: pytest -rsx
